@import './variables';

.scoreboard {
    border: 1px solid $color-header-outline;
    background-color: transparent;
    border-radius: 10px;
    max-width: 50em;
}


.scoreboard-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1.85em;
}

@media screen and (min-width: 50em) {
    .scoreboard-wrapper {
        padding: .75em 1em;
    }

    .list {
        font-size: 1.15rem;
    }
}