// Primary
$gradient-scissor: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
$gradient-paper: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
$gradient-rock: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
$gradient-lizard: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
$gradient-cyan: hsl(189, 59%, 53%), hsl(189, 58%, 57%);

// Neutrals
$color-dark-text: hsl(229, 25%, 31%);
$color-score-text: hsl(229, 64%, 46%);
$color-header-outline: hsl(217, 16%, 45%);
$gradient-radial: hsl(214, 47%, 23%), hsl(237, 49%, 15%);

$ff-barlow: 'Barlow Semi Condensed', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$fw-600: 600;
$fw-700: 700;