
  <!-- Signs -->
  <button class="btn-icon" data-icon="scissor" data-type="sign" aria-label="scissor button">
    <div class="icon-wrapper">
      <svg class="icon">
        <use xlink:href="./assets/icon-signs.svg#icon-scissors"></use>
      </svg>
    </div>
  </button>

  <button class="btn-icon" data-icon="rock" data-type="sign" aria-label="rock button">
    <div class="icon-wrapper">
      <svg class="icon">
        <use xlink:href="./assets/icon-signs.svg#icon-rock"></use>
      </svg>
    </div>
  </button>

  <button class="btn-icon" data-icon="paper" data-type="sign" aria-label="paper button">
    <div class="icon-wrapper">
      <svg class="icon">
        <use xlink:href="./assets/icon-signs.svg#icon-paper"></use>
      </svg>
    </div>
  </button>

  <button class="btn-icon" data-icon="lizard" data-type="sign" aria-label="lizard button">
    <div class="icon-wrapper">
      <svg class="icon">
        <use xlink:href="./assets/icon-signs.svg#icon-lizard"></use>
      </svg>
    </div>
  </button>

  <button class="btn-icon" data-icon="spock" data-type="sign" aria-label="spock button">
    <div class="icon-wrapper">
      <svg class="icon">
        <use xlink:href="./assets/icon-signs.svg#icon-spock"></use>
      </svg>
    </div>
  </button>

  <!--  -->

  <button class="btn">Rules</button>
  <button class="btn">Play again</button>


  <button class="btn-close" aria-label="close button">
    <div class="icon-container">
      <svg class="icon">
        <use xlink:href="./assets/icon-close.svg#icon-close"></use>
      </svg>
    </div>
  </button>