<div class="pick pick-user" data-state="picked">
    <div class="pick-container">
      <button class="btn-icon" data-icon="scissor" data-type="sign" aria-label="scissor button">
        <div class="icon-wrapper">
          <svg class="icon">
            <use xlink:href="./assets/icon-signs.svg#icon-scissors"></use>
          </svg>
        </div>
      </button>
    </div>
    <span class="pick-title | uppercase color-white">You Picked</span>
  </div>

  <div class="pick pick-comp" data-state="picking">
    <div class="pick-container"></div>
    <span class="pick-title | uppercase color-white">The house picked</span>
  </div>

  <div class="pick pick-user" data-state="won">
    <div class="pick-container">
      <button class="btn-icon" data-icon="scissor" data-type="sign" aria-label="scissor button">
        <div class="icon-wrapper">
          <svg class="icon">
            <use xlink:href="./assets/icon-signs.svg#icon-scissors"></use>
          </svg>
        </div>
      </button>
    </div>
    <span class="pick-title | uppercase color-white">You Picked</span>
  </div>

  <button class="test">Test</button>