<div class="scoreboard">
    <div class="scoreboard-wrapper">
      <div class="scoreboard-signs">
        <ul class="list">
          <li>
            <span class="color-white uppercase">Rock</span>
          </li>
          <li>
            <span class="color-white uppercase">Paper</span>
          </li>
          <li>
            <span class="color-white uppercase">Scissors</span>
          </li>
          <li>
            <span class="color-white uppercase">Lizard</span>
          </li>
          <li>
            <span class="color-white uppercase">Spock</span>
          </li>
        </ul>
      </div>
      <div class="score-container">
        <div class="score-wrapper">
          <span class="score-title">score</span>
          <span class="score" data-score="0">0</span>
        </div>
      </div>
    </div>
  </div>